.list{
  background-color:#FFCC8F;
  display:flex;
  width:100vw;
  height:100vh;
  overflow: hidden;
}

.TodoList {
    padding:5px;
    margin-left:200px;
    width: 800px;
    background: #FFDAAF;
    color: #fff;
    overflow-y: scroll ;
  }
  .TodoList ul {
    margin-top:50px;
    list-style:none;

  }
  
  .TodoList h1 {
    font-weight:bold;
    letter-spacing: 1px;
    margin-top:30px;
    margin-bottom: 60px;
  }
::-webkit-scrollbar{
  display:none;
}